//
// The CSS asset package for the "commits" app.
//
// It's a good pattern to organize your asset packages by a package per app.
// This stylesheet pacakge is very simple and just uses the stylesheet from
// the commits app and search component. However a more complex app might
// need to piece together some components stylesheets such as styles for a
// layout component, an autocomplete components, etc. In this case you would
// stack more @import into this file.
//

@import '../apps/commits/stylesheets'
@import '../components/search'