doctype 5
html
  head
    title Ezel
    link( href='http://fonts.googleapis.com/css?family=Quattrocento', rel='stylesheet', type='text/css' )
    :stylus
      body
        background #f2f2f2
        font-family 'Quattrocento', serif
  body
    include readme.md