@import './reset.css'

width = 600px

body
  background white
  font-family 'Lora', 'Georgia', serif
  color #444
  line-height 1.5em
  font-size 17px
  margin 0
  padding 0
h1 + p > img
  float left
  width 400px
  margin-left -172px
p:nth-of-type(2)
  clear both
  position absolute
  top 90px
  padding 110px 0px 0 250px
a
  color #444
code
  font-size 15px
  font-family 'Source Code Pro'
  background #f2f2f2
  border-radius 4px
  padding 2px 7px
h1
  position absolute
  left 526px
  top 140px
  font-size 72px
h1, h2, h3, h4, h5
  font-weight normal
h2
  font-size 28px
  padding 1em 0 15px 0
h2:first-of-type
  clear both
  padding-top 20px
h3
  font-weight bold
  text-transform uppercase
  letter-spacing 2px
  padding 1em 0 0 0
p
  padding 0
  margin 0
  margin-bottom 1em
ol, ul
  margin-bottom 1em
ul
  list-style-type circle
ol
  list-style-type decimal
.small-caps
  font-size 12px
  font-weight bold
  letter-spacing 1px

#container
  width width
  position relative
  margin-left calc(50% - 450px)
  padding-left 280px
  padding-bottom 80px

#menu
  position absolute
  top 15px
  margin 600px 0 0 -285px
  width 240px
  border-right 1px solid #eee
  a
    display block
    margin 0 0 20px 0
    color #999
    text-decoration none
    font-size 14px
    letter-spacing 2px
    text-transform uppercase
    line-height 1.3em
    &.active
      color black
  &.fixed
    position fixed
    margin 20px 0 0 -285px

#forkme img
  position fixed

@media (max-width: 1000px)
  #forkme img
    position absolute
    z-index 2
  #menu
    display none
  #container
    margin 0
    padding 40px
  h1
    left 287px
  h1 + p > img
    margin-left -90px

@media (max-width: 600px)
  #container
    width 100%
    margin 0
    box-sizing border-box
    padding-top 90px
    img
      max-height 300px
      width auto
      max-width 100%
  #menu
    display none
  p:nth-of-type(2)
    position relative
    top 0
    padding 0
  h1
    position relative
    padding-left 0
    margin 0
    top -30px
    left 0
  h1 + p > img
    margin-left 0
