body
  background white
  font-family 'Quattrocento', serif
  color #444
  line-height 1.6em
  font-size 16px
  margin 0
  padding 0
img
  float left
h1
  position absolute
  left 680px
  top 140px
  font-size 72px
  font-weight normal
p:nth-of-type(2)
  clear both
  position absolute
  top 130px
  padding 110px 0px 0 402px
  line-height 1.4em
a
  color #444
code
  font-size 11px
  font-family courier
  background #f2f2f2
  border-radius 4px
  padding 4px 7px
h2
  font-size 32px
  font-weight bold
h2:first-of-type
  clear both
  padding-top 20px
h3
  font-size 21px
  font-weight bold
h2, h3
  margin 0
  padding 0
p
  padding 0
  margin 0
  margin-bottom 1em
h2, h3
  padding 1em 0
ol, ul
  padding 0 0 0 20px

#container
  width 700px
  position relative
  margin 20px
  padding-left 280px

#menu
  position absolute
  top 0
  margin 600px 0 0 -280px
  width 250px
  border-right 1px solid #eee
  a
    display block
    margin 10px 0
    color #999
    text-decoration none
    &.active
      color black
  &.fixed
    position fixed
    margin 20px 0 0 -280px

@media (max-width: 600px)
  #container
    width 100%
    padding 20px
    box-sizing border-box
    img
      width 100%
  #menu
    display none
  p:nth-of-type(2)
    position relative
    top 0
    padding 0
  h1
    position relative
    left 0
    top 0