doctype 5
html
  head
    title Artsy GitHub Repos
    link( type='text/css', rel='stylesheet', href=('/assets/commits' + sd.CSS_EXT) )
  body
    h1 See commits for Artsy repos using the GitHub API!
    input#commits-repo-input( placeholder='Try "flux" or "garner" for starters, and hit then enter.' )
    ul#commits-list
      include list
    #scripts
      != sharifyScript()
      script( src='/assets/commits' + sd.JS_EXT )