.search-input
  border 1px solid #eee
  padding 10px 10px 10px 40px
  width 500px
  margin 0 auto
  display block
  font-size 16px
  background url("/images/search-icon.jpg") 7px center no-repeat
  background-size 22px