body
  font-family 'Helvetica', 'Arial', 'sans-serif'
  color #444
  padding 10px 100px
  line-height 1.4em

h1, h2
  text-align center
h1
  font-size 21px
  margin-bottom 20px
h2
  font-weight normal
  font-size 18px

#commits-list
  width 600px
  margin 20px auto
  li
    margin: 20px

#commits-img
  height 150px
  margin auto
  display block